@page
@model IndexModel
@{
    ViewData["Title"] = "Visual Studio Website";
}

<body onload="MoveIcon()"></body>

<div class="text-center">
    <h1 class="display-4">Visual Studio Websit</h1>
    <p>Here is a song I enjoy.</p>
    <iframe width="1080" height="720" src="https://www.youtube.com/embed/TJBh_hj6DzE"></iframe>
</div>

<div id="myContainer">
    <img src="./images/porter-robinson-logo.png" alt="Porter Robinson Icon" id="myAnimation"/>
</div>
